
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
<center>
        <h1>
            <img src="~/img/Logo%20Qualipharm%202017.jpg" width ="40%" heigth="40%"/>
           
        </h1>
</center>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> </a></li>

        </ol>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <style>
            .loader {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url('../../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
            }
        </style>
        <script type="text/javascript">
                    $(window).load(function() {
	                    $(".loader").fadeOut("slow");
                    })
        </script>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="loader"></div>

        </div>
    </section>
</div>